body {
    font-family: 'Poppins', sans-serif;
    margin:0;
    
}
h1 {
    font-size: 50px;
}
.name-color{
color:orange;
}
section{
    display: flex;
}
.half-width{
    width:50%;
    padding-left:5%;
}
.half-width img{
    width:100%;
}
.link-button{
    text-decoration: none;
    padding:10px 40px;
    color:white;
    border-radius: 3px;
    background-image: linear-gradient(orange, tomato);
    font-weight:700px;

}
.top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}
.banner{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}